@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');


:root{
    --color-bg-black: #101820;
    --color-bg-input: #242c35;
    --color-btn-check: #00bf63;
    --color-btn-check-hover: #00bf63a7;
    --color-btn-edit: #5271ff;
    --color-btn-edit-hover: #5272ff9b;
    --color-btn-delete: #ff3131;
    --color-btn-delete-hover: #ff313184;
    --color-task-completed: #00ad9d;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background-color: var(--color-bg-input);
    display: flex;
    align-items: center;
    justify-content: center;
}

.todolist-container{
    width: 500px;
    max-height: 700px;
    padding: 1rem;
    background-color: var(--color-bg-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    border-radius: 20px;
    overflow: hidden;
}

.title{
    font-size: 2.25rem;
    color: white;
}

.inputWrapper{
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.taskInput{
    width: 85%;
    height: 100%;
    padding-left: 1rem;
    outline: none;
    border-radius: 50px;
    border: none;
    background-color: var(--color-bg-input);
    color: white;
    font-size: 1rem;
}

.btnAdd{
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    border: none;
    background-color: var(--color-bg-input);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.25rem;
}

.todo{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: auto;
}

.tasks{
    width: 100%;
    height: 3rem;
    background-color: var(--color-bg-input);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    color: white;
}

.tasks.completed{
    background-color: var(--color-task-completed);
}

.btnWrapper{
    display: flex;
    align-self: center;
    gap: .75rem;
}

.btn{
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 1.2rem;
}

.btnCompleted{
    background-color: var(--color-btn-check);
}

.btnCompleted:hover{
    background-color: var(--color-btn-check-hover);
}

.btnEdit{
    background-color: var(--color-btn-edit);
}

.btnEdit:hover{
    background-color: var(--color-btn-edit-hover);
}

.btnDelete{
    background-color: var(--color-btn-delete);
}

.btnDelete:hover{
    background-color: var(--color-btn-delete-hover);
}