@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');


:root{
    --color-bg-black: #101820;
    --color-bg-input: #242c35;
    --color-btn-check: #00bf63;
    --color-btn-edit: #5271ff;
    --color-btn-delete: #ff3131;
    --color-task-completed: #00ad9d;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
